/* For testing */

#summary{
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* The number of lines to diplay */
  -webkit-box-orient: vertical;
}

#detail {
  /* position: absolute; */
  padding: 20px 150px;
    box-sizing: border-box;
    color: black;
}

#description{
  text-align: center;
  display: inline-flex;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    background-color: white;
}
#title{
    width: 100%;
    padding-left: 10px;
    font-size: 32px;
}

#detail_des{
    margin-bottom: 5px;
    margin-top: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 10;
    -webkit-box-orient: vertical; */
}

#mini1{
    /* display: inline-block; */
    display: inline;
    margin-right: 10px;
    padding: 20px;
    box-sizing: border-box;
}

#mini1>span{
    margin-bottom: 10px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.637);
    margin-top: 5px;
}

#mini1>h4{
    display: inline;
}

#des_img{
    display: inline;
    height: 400px;

    margin-left: 45px;
    margin-top: 30px;
}

#container{
    background-color: rgba(211, 211, 211, 0.833);
    padding: 13px;
    border-radius: 5px;
}


