{% extends 'base.html' %}

{% block title %}- Login Page{% endblock %}

{% block header %}
<a class="logo" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo_2.png') }}" alt="Flashback Logo" height="80"></a> 
{% endblock %}

{% block content %}
<h1 class = "neon">Welcome to FLASHBACK</h1>
  <form type="userInfo" method="post" autocomplete="off">
    <div>
      <label for="username">Username: </label>
      <input class="login" name="username" id="username" required>
    </div>
    <div>
      <label for="password">Password: </label>
      <input class="login" type="password" name="password" id="password" required>
    </div>
    <input class="userButton" type="submit" value="Log In">
  </form>
  <div class="text">
    <p>If you are new to FLASHBACK, please register using the link: </p><br>
    <a class="userButton" href="{{ url_for('auth.register') }}">Register</a>
  </div>
{% endblock %}
