{% extends 'base.html' %}

{% block title %}- Registration Page{% endblock %}

{% block header %}
<a class="logo" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo_2.png') }}" alt="Flashback Logo" height="80"></a> 
{% endblock %}

{% block content %}
<h1 class = "neon">Sign up for FLASHBACK</h1>
  <form type="userInfo" method="post" autocomplete="off">
    <label for="username">Username: </label>
    <input class="login" name="username" id="username" required>
    <label for="password">Password: </label>
    <input class="login" type="password" name="password" id="password" required>
    <input class="userButton" type="submit" value="Register">
  </form>
{% endblock %}