<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Minhwan Shin">
    <meta name="email" content="shin0091@algonquinlive.com">
    <meta name="date" content="2024-04-03">
    <title>Flashback {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='info_style.css') }}">
</head>

<body>
<section class="content">
  <header>
    {% block header %}
    {% endblock %}
    <nav>
        <ul class="nav_links">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('person_search') }}">Person Search</a></li>
        </ul>
    </nav>
    {% if g.user %}
      <span><b><a href="{{ url_for('user_admin') }}">{{ g.user['username'] }}</a></b></span>
      <a class="cta" href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <a class="cta" href="{{ url_for('auth.login') }}">Login/Registration</a>
    {% endif %}
    <p class="menu cta">Menu</p>
  </header>
  <div id="mobile__menu" class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('person_search') }}">Person Search</a>
        {% if g.user %}
      <span><b><a href="{{ url_for('user_admin') }}">{{ g.user['username'] }}</a></b></span>
      <a class="cta" href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
      <a class="cta" href="{{ url_for('auth.login') }}">Login/Registration</a>
      {% endif %}
    </div>
    </div>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
  {% block content %}{% endblock %}
</section>

  <!-- Footer -->
  <footer class="footer-content">
    <p>© 2024 FLASHBACK</p>
    <p>Contact: <a href="mailto:shin0091@algonquinlive.com?subject=Contact">[Algonquin Email]</a></p>
    <p>Or contact: <a href="mailto:minhwanshin@cmail.carleton.ca?subject=Contact">[Carleton Email]</a></p>
  </footer>

  <script>
    const doc = document;
    const menuOpen = doc.querySelector(".menu");
    const menuClose = doc.querySelector(".close");
    const overlay = doc.querySelector(".overlay");

  menuOpen.addEventListener("click", () => {
    overlay.classList.add("overlay--active");
  });

  menuClose.addEventListener("click", () => {
    overlay.classList.remove("overlay--active");
  });

  </script>

</body>
</html>