<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Minhwan Shin">
    <meta name="email" content="shin0091@algonquinlive.com">
    <meta name="date" content="2024-04-03">
    <title>Flashback {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<section class="content">
  <header>
    {% block header %}
    {% endblock %}
    <nav>
        <ul class="nav_links">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('person_search') }}">Person Search</a></li>
        </ul>
    </nav>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <a class="cta" href="{{ url_for('auth.login') }}">Login/Registration</a>
    {% endif %}
  </header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer>
    <p>Contact: email.com</p>
  </footer>

</section>

</body>
</html>