<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Minhwan Shin">
    <meta name="email" content="shin0091@algonquinlive.com">
    <meta name="date" content="2024-03-15">
    <link rel="stylesheet" type="text/css" href="/static/style1.css">
    <title>Flashback - Movie Ratings</title>
</head>
<!-- <link rel="stylesheet" type="text/css" href="style1.css"> -->

<body>
    <header>
        <!-- <a class="logo" href="index.html"><img src="logo_1.png" alt="Flashback Logo" height="80"></a> -->
        <nav>
            <ul class="nav_links">
            <!-- <img src="logo_2.JPG" alt="Flashback Logo" height="100"> -->
                <li><a href="index.html">Home</a></li>
                <li><a href="advanced_search.html">Advanced Search</a></li>
                <!-- <li><button><a href="registration.html">Login</a></button></li> Simple user login button -->
            </ul>
        </nav>
        <!-- <div class="user-login">
                <button><a href="login.html">Login</a></button>
        </div> -->
        <!-- <input type="text" placeholder="Search for movies..." style="width: 400px">
        <button>Search</button> -->

        <a class="cta" href="login.html">Login/Registration</a>
        <!-- <p class="menu cta">Menu</p> -->
    </header>

    <!-- Main Content -->
    <main>
        <h1 class="neon">FLASHBACK</h1>
        <div class="search-box">
            <!-- Movie search box (input field, search button, etc.) -->
            <input type="text" placeholder="Search for movies...">   
            <a class="button" href="basic_search.html">Search</a>
        </div> 
    </main>

    <!-- Footer -->
    <footer>
        <p>Contact: email.com</p> 
    </footer>
    <!-- <script>    </script> -->
</body>
</html>
