{% extends 'base.html' %}

{% block title %}- Movie Search{% endblock %}

{% block header %}
<a class="logo" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo_2.png') }}" alt="Flashback Logo" height="80"></a> 
{% endblock %}


{% block content %}
  {{ search }}

  {% for item in query["movies"] %}

        <div class="body">
          <div class="movie">
              <img class="movie__img" src="{{ item['pathtoposter']}}" alt="{{title}} poster">
              <div>
                <h2 class="movie__title">
                  <a href="{{ url_for('movie_info', id=item['movieID']) }}">{{item['title']}}</a>
                </h2>
                <h3 class="movie__date">{{ item['year'] }}</h3>
              </div>
            </div>
      </div>
      

  {% endfor %}

{% endblock %}