{% extends 'base.html' %}

{% block title %}- Movie Info{% endblock %}

{% set moviedetails = details["details"] %}
{% set moviecast = details["cast"] %}
{% set moviecrew = details["crew"] %}
{% block content %}
    <img src="{{moviedetails['pathtoposter']}}" style="width: 100%; max-width: 300px;">
    <h1>{{ moviedetails["name"] }}</h1>
    <h2>{{ moviedetails["tagline"] }}</h2>
    <p>{{ moviedetails["summary"] }}</p>
    <p>{{ moviedetails["runtime"] }} minutes. {{moviedetails["releaseDate"] }}</p>
    {% if g.user %}
        <form id="moviereview" type="review" name="movieReview" onsubmit="return validateReviewForm()" method="post">
            <label>Leave a Review</label>
            <input class="button" type="submit" value="Enter"></input>
            <textarea id="review-box" name="review-box" placeholder="Leave a Review"></textarea>
            <select id="review-score" name="review-score">
                <option value="zero">0</option>
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
                <option value="six">6</option>
                <option value="seven">7</option>
                <option value="eight">8</option>
                <option value="nine">9</option>
                <option value="ten">10</option>
            </select>
        </form>
        <script>
        function validateReviewForm() {
            let reviewText = document.forms["movieReview"]["review-box"].value;
            let reviewScore = document.forms["movieReview"]["review-score"].value;
            if (x == "" && reviewScore == "zero") {
              alert("Leave a review or score.");
              return false;
            }
          } 
        </script>
    {% else %}
        <form type="userInfo" method="post">
            <div>
            <label for="username">Username: </label>
            <input class="login" name="username" id="username" required>
            </div>
            <div>
            <label for="password">Password: </label>
            <input class="login" type="password" name="password" id="password" required>
            </div>
            <input class="userButton" type="submit" value="Log In">
        </form>
    {% endif %}
    <button onclick="hideCast()">Cast</button>
    <div id="castContent" style="display: none">
        {% for actor in moviecast %}
            <p>
                {% if 'https://' in actor['pathtopicture'] %}
                    <img class="person__img" src="{{ actor['pathtopicture']}}" alt="{{actor['name']}} poster" style="width: 100%; max-width: 100px;">
                {% endif %}
                <a href="{{url_for('person_info', id=actor['personID']) }}">{{actor["name"]}} - {{actor["character"]}}</a>
            </p>
        {% endfor %}
    </div>
    <button onclick="hideCrew()">Crew</button>
    <div id="crewContent" style="display: none">
        {% for crew in moviecrew %}
            <p>
                {% if 'https://' in crew['pathtopicture'] %}
                    <img class="person__img" src="{{ crew['pathtopicture']}}" alt="{{crew['name']}} poster" style="width: 100%; max-width: 100px;">
                {% endif %}
                <a href="{{url_for('person_info', id=crew['personID']) }}">{{crew["name"]}} - {{crew["role"]}}</a>
            </p>
        {% endfor %}
    </div>

    <script>
        function hideCast() {
            var x = document.getElementById("castContent");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function hideCrew() {
            var x = document.getElementById("crewContent");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        } 
    </script> 
{% endblock %}


<!-- {% if g.user %}
      <!-- <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a> -->
<!-- <div> -->
    <!-- <form> -->
        <!-- <input name="review">
        <input name="score">
        <input type = "submit">
    </form>
</div>
{% else %} -->
      <!-- <li><a href="{{ url_for('auth.register') }}">Register</a> -->
    <!-- <p>If you want to leave a review, Please Log in to our website:</p><br>
    <a class="cta" href="{{ url_for('auth.login') }}">Login</a>
{% endif %} --> -->