{% extends 'base.html' %}

{% block title %}- Person Search{% endblock %}

{% block header %}
<a class="logo" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo_2.png') }}" alt="Flashback Logo" height="80"></a> 
{% endblock %}

{% block content %}
    {% for person in query['people'] %}
        <div class="body">
            <div class="movie">
                {% if 'https://' in person['pathtopicture'] %}
                    <img class="movie__img" src="{{person['pathtopicture']}}"  alt="{{person}} poster">
                {% endif %}
                <div>
                  <h2 class="movie__title">
                    <a href="{{url_for('person_info', id=person['personID'])}}">{{ person['name'] }}</a>
                  </h2>
                </div>
              </div>
        </div>
    {% endfor %}
{% endblock %}