{% extends 'base.html' %}

{% block title %}- Person Search{% endblock %}

{% block header %}
<a class="logo" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo_2.png') }}" alt="Flashback Logo" height="80"></a> 
{% endblock %}

{% block content %}
    {% for person in query['people'] %}
        {% if 'https://' in person['pathtopicture'] %}
            <img src="{{person['pathtopicture']}}" style="width: 100%; max-width: 100px;">
        {% endif %}
        <a href="{{url_for('person_info', id=person['personID'])}}">{{ person['name'] }}</a>
    {% endfor %}
{% endblock %}