{% extends 'base.html' %}

{% block title %}- Person Search{% endblock %}

{% block header %}
<a class="logo" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo_1.png') }}" alt="Flashback Logo" height="80"></a> 
{% endblock %}

{% block content %}
<h1 class="neon">FLASHBACK - Person Search</h1>
<form class="search-box" type="search" method="POST" autocomplete="off"> 
        <input  class="search" type="search" name="personsearch" id="personsearch" placeholder="Search for casts, directors...">
        <input class="button" type="submit" value="Search">
</form>
{% endblock %}